
.resize-drag {
  background-color: #29e;
  color: white;
  font-size: 20px;
  font-family: sans-serif;
  /*border-radius: 8px;*/
  padding: 5px;
  /*margin: 5px 20px;*/

  width: 120px;

  /* This makes things *much* easier */
  box-sizing: border-box;
}

.resize-container {
  display: inline-block;
  width: 800px;
  height: 450px;
    background-color: rgba(83, 79, 81, 0.69);
}
